jinja2
langchain
langchain-core
langchain-community
langchain-chroma
langchain-google-genai
langchain-openai
langchain-huggingface
langchain-tools
langchain-text-splitters
langserve
sentence-transformers
spacy
pinecone-client
openai
tavily-python
requests
fastapi
pypdf